.button {
  width: 100%;
  padding: 1em;
  margin: 0.5em;
  border-radius: 2em;
}

.unactive{
    border-color:#ce9f13;
    background-color:#ce9f13;
    color: white;
}

.button:hover, .active {
  border: 2px solid #ce9f13;
  background-color: white;
  color:#ce9f13;
  cursor: pointer;
}


.button:focus {
    outline: none;
}

.button:active {
    transform: scale(0.99);
}
