
.content-image p {
    color: white;
    font-size: 30px;
}

.content-strip {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    height: 15em;
}

.content-image, .content-description {
    min-width: 50%;
    display: inline-block;
    overflow: hidden;
    position: relative;
    min-height: 13em;
}

.content-image {
  height: auto;
  margin: 15px;
  max-width: 45%;
  background-size: cover;
  object-position: 50% 50%;
  object-fit: contain;
  background-position: center bottom;

}

.content-image img {
  width: 100%;
  object-position: 10% 50%;
  display: block;
  overflow: hidden;
}

.content-description {
 background-color: white;
 padding: 1em;
}

.content-description h3 {
  text-align: center;
  font-size: 1.6em;
}

.content-description h4 {
  text-align: center;
    margin: 0;
    font-size: 1.2em;
    color: green;
}

.content-description p {
  padding: 1em;
  margin: 0;
  font-size: 0.9em
}


@media only screen and (max-width: 780px ){
  .content-strip {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

   .flex-col-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
}

}

@media only screen and (max-width: 500px ){

  .content-strip {
    height: auto;
  }
  .content-image {
    height: 12em;
    margin: 0;
    max-width: 100%;
  }

  .content-description {
    padding: 1em 0;
  }

  .content-description p {
    padding: 1em 0;
  }

}
