.form{
    display: flex;
    flex-direction: column;
    justify-content: flex-center;
    align-items: center;
    padding: 1em;
}

.form input, .form textarea {
    border: none;
    border-bottom: 2px solid blue;
    margin: 2em;
    width: 25em;
    font-size: 1.3em;
}

.form input[type="checkbox"]{
    box-sizing: border-box;
    padding: 1em;
    height: 0.5em;
    background-color: blue;
    color: blue;
}

.person {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.select {
     width: 15em;
     padding: 0.5em;
}
.veg {
    width: 2em!important;
}

.submit {
    display: block;
    padding: 1em;
    background-color: blue;
}

.addPerson{
    border: 1px solid black;
    font-size: 1em;
    padding: 0.5em;
}

.addPerson:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}