.mapContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto auto;
  height: 40em;
  padding: 4em;
}

.map{
  width: 60%;
}
.mapInfo {
  width: 40%;
  text-align: center;
}

.mapSelector {
  margin: auto;
  margin: 2em;
}

.mapInfo p{
  text-align: left;
}
.marker {
  height: 3em;
  width: 3em;
  background-color: red;
}

.desktopButtons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.controls {
  display: none;
}

@media only screen and (max-width: 500px){
  .mapContainer {
    height: auto;
    padding: 0em;
  }

  .map{
    height: 50vh;
    width: 100%;
  }
  .mapInfo {
    width: 100%;
    padding: 1em;
  }

  .controls {
    display: flex;
    flex-flow: column;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .desktopButtons {
    display: none;
  }

}
