
.Person {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media only screen and (max-width: 900px){
    .Person {
       flex-wrap: wrap;
       background-color: #2e7f4324;
    }
}

